.navbar{

    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #EDEFEE;
}

.navbar__links .Link{
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: 18px;
    padding: 20px;

}

